.anmeldelser {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.stjerner-anmeldelser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    width: 40px;
    height: 40px;
}

.anmeldelser-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 40;
    scroll-snap-type: x mandatory;
}

.anmeldelser-slider .anmeldelse-card {
    width: 20%; /* 5 anmeldelser vises ad gangen på desktop */
    scroll-snap-align: start;
    flex: 0 0 auto; /* bruges til responsiv snap, så anmeldelsen ikke formindskes */
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: var(--modern-box-shadow);
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.anmeldelser-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.anmeldelser-slider {
    scrollbar-width: none;  /* Firefox */
}

.stjerner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 15px;
}

.stjerner img {
    width: 20%;
    max-width: 25px;
    height: auto;
}

.anmeldelse-card blockquote {
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
}

.anmeldelse-card cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.anmeldelser-pil {
    position: absolute;
    cursor: pointer;
    top: 85%;
    font-size: 30px;
    color: var(--tekstfarve-primaer);
    border: none;
    padding: 8px;
    background: none;
    transform: translateY(-50%);
    transition: transform 0.2s opacity 0.2s;
    z-index: 10;
}

.anmeldelser-pil:hover {
    transform: translateY(-50%) scale(1.2);
}

.venstre {
    left: 10px;
}

.hoejre {
    right: 10px;
}

.se-flere-anmeldelser {
    margin-top: 10px;
    color: var(--tekstfarve-primaer);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.se-flere-anmeldelser:hover {
    transform: scale(1.1);
}

/* Responsivt design */
@media (max-width: 1200px) {
    .anmeldelser-slider .anmeldelse-card {
        width: 30%; /* 3 anmeldelser vises ad gangen */
    }
}

@media (max-width: 850px) {
    .anmeldelser-slider .anmeldelse-card {
        width: 50%; /* 2 anmeldelser vises ad gangen */
    }
}

@media (max-width: 600px) {
    .anmeldelser-slider .anmeldelse-card {
        width: 100%; /* 1 anmeldelse vises ad gangen */
    }
}