.anmeldelser {
    position: relative;
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
}

.anmeldelser h2,
.anmeldelser h4 {
    text-align: center;
}

.anmeldelser h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.anmeldelser h4 {
    text-transform:none
}


.stjerner-anmeldelser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.stjerner-anmeldelser img {
    height: 40px;
    width: 40px;
}


.anmeldelser-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.anmeldelse-card {
    flex-shrink: 0;
    scroll-snap-align: center;
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: var(--modern-box-shadow);
    flex-basis: calc((100% - 4 * 20px) / 5);
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.anmeldelser-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.anmeldelser-slider {
    scrollbar-width: none;  /* Firefox */
}

.stjerner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 15px;
}

.stjerner img {
    width: 25px;
    height: auto;
}

.anmeldelse-card blockquote {
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
}

.anmeldelse-card cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.anmeldelser-pil {
    position: absolute;
    cursor: pointer;
    top: 85%;
    font-size: 30px;
    color: var(--tekstfarve-primaer);
    border: none;
    padding: 8px;
    background: none;
    transform: translateY(-50%);
    transition: transform 0.2s opacity 0.2s;
    z-index: 9;
}

.anmeldelser-pil:hover {
    transform: translateY(-50%) scale(1.2);
}

.venstre {
    left: 10px;
}

.hoejre {
    right: 10px;
}

.eksternt-link {
    display: block;
    text-align: center;
    text-decoration: underline;

}

.se-flere-anmeldelser:hover {
    transform: scale(1.1);
}

/* Responsivt */
@media (max-width: 1200px) {
    .anmeldelse-card {
        flex-basis: calc((100% - 2 * 20px) / 3); /* 3 anmeldelser vises ad gangen */
    }
}

@media (max-width: 850px) {
     .anmeldelse-card {
        flex-basis: calc((100% - 1 * 20px) / 2) /* 2 anmeldelser vises ad gangen */
    }
}

@media (max-width: 600px) {
    .anmeldelse-card {
        flex-basis: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
    }

    .anmeldelser-slider {
        gap: 10px;
    }
}