/* Definér variable:
https://www.w3schools.com/css/css3_variables.asp */

:root {
  /*Farver*/
  --baggrundsfarve-primaer: #FDFCFC; 
  --baggrundsfarve-sekundaer: #FBF9F7; 
  --baggrundsfarve-tertiaer: #F4F0EA; 
  --tekstfarve-faded: #AEACAB; 
  --tekstfarve-primaer: #272626; 
  --brand-tekstfarve-lys: #F0F5F8;
  --brandfarve-primaer: #025B6F; 
  --brandfarve-primaer-hover: #2E7B92; 
  --baggrundsfarve-primaer-click: #01404F; 
  --sekundaer-brandfarve: #BF7C41;
}

.full-width-cta-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0 ;
}

.link_cta{
/*Farver*/
  color: var(--brand-tekstfarve-lys);
  background-color: var(--brandfarve-primaer);
  box-shadow: var(--inner-box-shadow);
/*Form*/
  width: 300px;
  height: 64px;
  border-radius: 4px;
/*Font*/
  font-family: var(--inter);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
/*Placerer teksten i midten*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /*for at kunne bruge position:absolute på child-elementer*/
}

.link_cta:active{ 
/*Farver*/
  background-color: var(--brandfarve-primaer-click);
}

.link_cta:hover{ 
/*Farver*/
  background-color: var(--brandfarve-primaer-hover);
}


.link_cta span{ /*hver border i hover-effekt*/
  background-color: var(--brand-tekstfarve-lys);
  border-radius: 1px;
  opacity: 0;
  transition: all 0.3s; /*giver synlig burger-animation*/
}

/*border-hover-effekt*/
/*vandrette linjer*/
.link_cta span:nth-child(1){ 
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 2px;
}
.link_cta span:nth-child(2){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
}
.link_cta:hover span:nth-child(-n +2){
  opacity: 1;
  width: 100%;
}
/*lodrette linjer*/
.link_cta span:nth-child(3){ 
  position: absolute;
  top: 0;
  right: 0;
  height: 0%;
  width: 2px;
}
.link_cta span:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 2px;
}
.link_cta:hover span:nth-child(n+3){
  opacity: 1;
  height: 100%;
}
