
.div_full-width-cta-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0 ;
}

.link_cta{
/*Farver*/
  color: var(--brand-tekstfarve-lys);
  background-color: var(--brandfarve-primaer);
  box-shadow: var(--inner-box-shadow), var(--modern-box-shadow);
/*Form*/
  width: 300px;
  height: 64px;
  border-radius: 4px;
/*Font*/
  font-family: var(--inter);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
/*Placerer teksten i midten*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /*for at kunne bruge position:absolute på child-elementer*/
  overflow: hidden; /*skjuler border-effekt der går udenfor knappen*/
  transition: all 0.5s ease;
}

.link_cta:active{ 
  background-color: var(--brandfarve-primaer-click);
}

.link_cta:hover{ /*gør hover-linjerne synlige på lys baggrund*/
  border: 0.1px solid var(--brandfarve-primaer-click);
}

.link_cta span{ /*hver border i hover-effekt*/
  background-color: var(--brand-tekstfarve-lys);
  border-radius: 1px;
  opacity: 0;
  transition: all 0.5s ease; /*giver synlig burger-animation*/
}

/*border-hover-effekt*/
/*vandrette linjer*/
.link_cta span:nth-child(1){ 
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 2px;
}
.link_cta span:nth-child(2){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
}
/*vælger de to vandrette streger*/
.link_cta:hover span:nth-child(-n +2),
.link_cta:focus span:nth-child(-n +2){
  opacity: 1;
  width: 100%;
}
/*lodrette linjer*/
.link_cta span:nth-child(3){ 
  position: absolute;
  top: 0;
  right: 0;
  height: 0%;
  width: 2px;
}
.link_cta span:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 2px;
}
/* vælger de to lodrette streger*/
.link_cta:hover span:nth-child(n+3),
.link_cta:focus span:nth-child(n+3){
  opacity: 1;
  height: 100%;
}
