.tidligere-samarbejder {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.erhvervsslider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 60px;
    padding: 20px 40px;
    scroll-snap-type: x mandatory;
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.erhvervsslider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.erhvervsslider {
    scrollbar-width: none; /* Firefox */
}

.erhvervsslider img {
    width: 20%; /* 5 logoer vises ad gangen som udgangspunkt */
    max-width: 200px;
    height: auto;
    object-fit: contain;
    scroll-snap-align: start;
}

.erhverv-pil {
    position: absolute;
    cursor: pointer;
    top: 50%;
    font-size: 30px;
    color: white;
    border: none;
    background: rgb(58, 58, 58, 0.5);
    transform: translateY(-50%);
    z-index: 10;
}

.venstre {
    left: 10px;
}

.hoejre {
    right: 10px;
}
