.tidligere-samarbejder {
    padding: 40px 20px;
    text-align: center;
}

.erhvervsslider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    scroll-behavior: smooth;
    gap: 60px;
    padding: 20px 40px;
    scroll-snap-type: x mandatory; /*forhindrer cut-off på logoerne*/
    scroll-padding-left: 60px;
    scroll-padding-right: 60px;
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.erhvervsslider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.erhvervsslider {
    scrollbar-width: none; /* Firefox */
}

/*kilde til at få slideren til at scrolle automatisk via keyframes-animation: https://www.youtube.com/watch?v=KD1Yo8a_Qis */
.gruppe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: max-content;
    animation: spin 20s infinite linear;
}

.gruppe img {
    height: 100px;
    width: auto;
    padding: 10px;
    object-fit: contain;
    flex-shrink: 0;
    max-width: 200px;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* tablet */
@media (max-width: 834px) {
    .erhvervsslider {
        padding: 15px 25px;
        gap: 25px;
    }
    
    .gruppe img {
        height: 65px;
        padding: 5px;
    }

    .gruppe {
        animation-duration: 15s;
    }
    
}

/* mobil */
@media (max-width: 480px) {
    .erhvervsslider {
        padding: 5x 10px;
        gap: 10px;
    }
    
    .gruppe img {
        height: 50px;
        padding: 5px;
    }

    .gruppe {
        animation-duration: 15s;
    }
}