.faq-sektion {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 40px 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

.faq {
    margin-bottom: 10px;
}

.spoergsmaal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--utopia);
    font-size: var(--h3-size);
    color: var(--tekstfarve-primaer);
    text-transform: none;
    padding: 10px 0;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.faq-ikon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    font-size: var(--h2-size);
}

.spoergsmaal.active .faq-ikon {
    transform: rotate(45deg);
}

.svar {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.svar a.eksternt-link,
.svar a.eksternt-link:visited,
.svar a.eksternt-link:hover,
.svar a.eksternt-link:active {
    color: var(--tekstfarve-primaer);
    text-decoration: underline;
}

.svar a.internt-link,
.svar a.internt-link:visited,
.svar a.internt-link:hover,
.svar a.internt-link:active {
    color: var(--tekstfarve-primaer);
    text-decoration: underline;
}