.faq-sektion {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 40px 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    text-align: center;
}

.faq-container h2 {
    margin-bottom: 30px;
}

.faq {
    margin-bottom: 10px;
}

.spoergsmaal {
    display: block;
    font-family: var(--utopia);
    font-size: var(--h3-size);
    text-transform: uppercase;
    padding: 10px 0;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.faq-ikon {
    transition: transform 0.3s ease-in-out;
    margin-left: 40px;
}

.svar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}

.svar.aaben {
    max-height: 500px;
    padding: 10px 0;
}