:root {
    /*Farver*/
    --baggrundsfarve-primaer: #FDFCFC;
    --baggrundsfarve-sekundaer: #FBF9F7;
    --baggrundsfarve-tertiaer: #F4F0EA;
    --tekstfarve-faded: #AEACAB;
    --tekstfarve-primaer: #272626;
    --brand-tekstfarve-lys: #F0F5F8;
    --brandfarve-primaer: #025B6F;
    --brandfarve-primaer-hover: #2E7B92;
    --baggrundsfarve-primaer-click: #01404F;
    --sekundaer-brandfarve: #BF7C41;
}

.faq-sektion {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 40px 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    text-align: center;
}

.spoergsmaal {
    display: block;
    margin: 15px auto;
    background-color: var(--baggrundsfarve-tertiaer);
    border: none;
    text-align: left;
    cursor: pointer;
}

.faq-ikon {
    transition: transform 0.3s ease-in-out;
    margin-left: 40px;
}

.svar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
}

.svar.aaben {
    max-height: 500px;
    padding: 10px 0;
}

