.faq-sektion {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--baggrundsfarve-tertiaer);
    padding: 40px 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

.faq-container h2 {
    margin-bottom: 30px;
}

.faq {
    margin-bottom: 10px;
}

.spoergsmaal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--utopia);
    font-size: var(--h3-size);
    text-transform: none;
    padding: 10px 0;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.faq-ikon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    font-size: var(--h2-size);
}

.spoergsmaal.active .faq-ikon {
    transform: rotate(45deg);
}

.svar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}

.svar.aaben {
    max-height: 500px;
    padding: 10px 0;
}