
footer {
    padding: 60px 40px;
    width: 100%;
    color: var(--brand-tekstfarve-lys);
    background-color: var(--brandfarve-primaer);
}

.footer-indhold {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-venstre,
.footer-midte {
    flex: 1;
}

.footer-hoejre {
    flex: 0.8;
}

.google-kort {
    width: 100%;
    max-width: 300px;
    height: 220px;
    margin: 0 auto;
}

footer p {
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
}

footer .links a {
    text-decoration: none;
    color: var(--brand-tekstfarve-lys);
    transition: all 0.3s ease-in-out;
}

footer .links a:hover {
    font-weight: bold;
    font-size: 18px;
}

footer .sociale-medier a {
    margin-right: 10px;
}

footer .sociale-medier img {
    width: 48px;
    height: 48px;
    margin-top: 16%;
}

/* ----------------- Breakpoint 800px (tablet) ----------------- */
@media (max-width: 800px) {

    footer {
        padding: 50px 25px;
    }

    .footer-indhold {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }


    .footer-midte,
    .footer-hoejre,
    .footer-venstre {
        width: 100%;
        flex: none;
    }

    .sociale-medier img {
        margin-top: 10px;
    }
}

/* ----------------- Breakpoint 400px (mobil) ----------------- */
@media (max-width: 400px) {
    footer {
        padding: 40px;
    }

    .footer-midte,
    .footer-hoejre,
    .footer-venstre {
        width: 100%;
    }

    .google-kort iframe {
        max-width: 100%;
        height: 200px;
    }

    .sociale-medier img {
        width: 36px;
        height: 36px;
    }
}