:root {
  /*Farver*/
  --baggrundsfarve-primaer: #FDFCFC; 
  --baggrundsfarve-sekundaer: #FBF9F7; 
  --baggrundsfarve-tertiaer: #F4F0EA; 
  --tekstfarve-faded: #AEACAB; 
  --tekstfarve-primaer: #272626; 
  --brand-tekstfarve-lys: #F0F5F8;
  --brandfarve-primaer: #025B6F; 
  --brandfarve-primaer-hover: #2E7B92; 
  --brandfarve-primaer-click: #01404F; 
  --sekundaer-brandfarve: #BF7C41;
/*Skygger*/
  --modern-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
  --inner-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.10) inset;
/*Font-family*/
  --inter: "Inter", sans-serif;
  --utopia: "Utopia-std", serif;

/* Skriftstørrelser */
  --h1-size: 40px;
  --h2-size: 32px;
  --h3-size: 24px;
  --h4-size: 18px;
  --body-size: 16px;
}

/*Reset CSS*/
*{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.section_kategorier ul{
  max-width: 450px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(5, minmax(min-content, 100px));
  gap: 10px;
  padding: 12px;
}

.section_kategorier li{
  border-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-size: cover; /* Sørger for at baggrundsbilledet dækker hele elementet uden at stretche*/
  background-repeat: no-repeat;
}

.section_kategorier .kategori-bryllup{
  background-image: url(https://www-static.kristianpaakjaer.dk/wp-content/uploads/2025/02/fokuskasse-01.jpg);
  background-position: center 25%; /* Juster baggrundsbilledets position - procent afgør hvor billedets "midte" skal være */

}

.section_kategorier .kategori-baby{
  background-image: url(https://www-static.kristianpaakjaer.dk/wp-content/uploads/2025/09/KristianPaakjaer-19666-scaled.jpg);
  background-position: center 45%;
}

.section_kategorier .kategori-familie{
  background-image: url(https://www-static.kristianpaakjaer.dk/wp-content/uploads/2025/02/fokuskasse-04.jpg);
  background-position: center 15%;
}

.section_kategorier .kategori-event{
  background-image: url(https://www-static.kristianpaakjaer.dk/wp-content/uploads/2025/02/fokuskasse-02.jpg);
  background-position: center 45%;
}

.section_kategorier .kategori-erhverv{
  background-image: url(https://www-static.kristianpaakjaer.dk/wp-content/uploads/2025/02/fokuskasse-03.jpg);
}

.section_kategorier a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--utopia);
  font-size: var(--h2-size);
  text-transform: capitalize;
  color: var(--baggrundsfarve-primaer);
  background-color: rgba(0,0,0,0.4);
  transition: all 0.5s ease;
}

.section_kategorier a:hover{
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.7);
}

.section_kategorier li a:active{
  background-color: rgba(0,0,0,0.5);
}

@media screen and (min-width: 534px){
  .section_kategorier ul{
    max-width: 1024px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40vh 30vh;
  }

  .section_kategorier .kategori-bryllup, 
  .section_kategorier .kategori-baby, 
  .section_kategorier .kategori-familie{
    grid-column: span 2;
  }
  
  .section_kategorier .kategori-event, 
  .section_kategorier .kategori-erhverv{
    grid-column: span 3;
  }
}
