.vaerdier-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px auto;
    flex-wrap: wrap;
}

.vaerdi {
    text-align: center;
    width: 100px;
}

.vaerdi img {
    width: 80px;
    height: auto;
}

.tekst-billede-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: auto;
    max-width: 1200px;
}

.tekstboks {
    max-width: 350px;
}

.billedboks {
   width: 100%;
   height: auto;
}


/* ----------------- Breakpoint 800px (tablet) ----------------- */
@media (max-width: 800px) {
    .vaerdier-container {
    gap: 40px;
    flex-wrap: nowrap;
    }

    .vaerdi img {
        width: 60px;
    }

     .tekst-billede-boks {
        gap: 40px;
        max-width: 90%;
     }

    .tekstboks {
        max-width: 45%;
    }

    .billedboks {
        max-width: 45%;
    }
}

/* ----------------- Breakpoint 400 (mobil) ----------------- */
@media (max-width: 400px) {
    .vaerdier-container, .tekst-billede-boks {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .vaerdi img {
        width: 50px;
    }

    .tekstboks
    .billedboks {
        max-width: 90%;
    }
}