.vaerdier-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px auto;
}

.vaerdi {
    text-align: center;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 40px;
}

.vaerdi img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

/* ----------------- Breakpoint 800px (tablet) ----------------- */
@media (max-width: 800px) {
    .vaerdier-container {
    gap: 40px;
    }

    .vaerdi img {
        width: 60px;
        height: 60px;
    }
}

/* ----------------- Breakpoint 400 (mobil) ----------------- */
@media (max-width: 400px) {
    .vaerdier-container {
        flex-direction: column;
        gap: 25px;
    }

    .vaerdi img {
        width: 50px;
        height: 50px;
    }
}