.galleri {
    position: relative;
    margin: 20px;
    text-align: center;
}

.galleri-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
}

.galleri-slider img {
    width: 33.33%; /* 3 billeder vises ad gangen på desktop */
    height: 400px;
    object-fit: cover;
    scroll-snap-align: start;
    flex: 0 0 auto; /* bruges til responsiv snap, så billedet ikke formindskes */
    cursor: pointer; /* pointer ved hover over billede for at vise, det er klikbart */
}

.pil {
    position: absolute;
    cursor: pointer;
    top: 50%;
    font-size: 30px;
    color: white;
    border: none;
    padding: 10px;
    background: rgba(58, 58, 58, 0.5);
    transform: translateY(-50%);
    transition: transform 0.2s opacity 0.2s;
    z-index: 10;
    backdrop-filter: blur (5px);
    mix-blend-mode: difference;
}

.pil:hover {
    transform: translateY(-50%) scale(1.2);
}

.venstre {
    left: 10px;
}

.hoejre {
    right: 10px;
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.galleri-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.galleri-slider {
    scrollbar-width: none; /* Firefox */
}

/* responsiv */

/* tablet med 2 billeder per række */
@media (max-width: 1000px) {
    .galleri-slider img {
        width: 50%; /* = 2 billeder vises ad gangen */
    }
}

/* mobil med 1 billede ad gangen */
@media (max-width: 600px) {
    .galleri-slider img {
        width: 100%;
    }
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}