.galleri {
    position: relative;
    margin: 20px;
    text-align: center;
}

.galleri-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background: none;
    gap: 20px;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
}

.galleri-slider img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
    scroll-snap-align: start;
}

.pil {
    position: absolute;
    cursor: pointer;
    top: 50%;
    padding: 10px;
    font-size: 40px;
    color: var(--tekstfarve-primaer);
    background: transparent;
    border: none;
    transform: translateY(-50%);
}

.venstre {
    left: 0;
}

.hoejre {
    right: 0;
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.galleri-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.galleri-slider {
    scrollbar-width: none; /* Firefox */
}

