/* Definér variable:
https://www.w3schools.com/css/css3_variables.asp */

:root {
  /*Farver*/
  --baggrundsfarve-primaer: #FDFCFC; 
  --baggrundsfarve-sekundaer: #FBF9F7; 
  --baggrundsfarve-tertiaer: #F4F0EA; 
  --tekstfarve-faded: #AEACAB; 
  --tekstfarve-primaer: #272626; 
  --brand-tekstfarve-lys: #F0F5F8;
  --brandfarve-primaer: #025B6F; 
  --brandfarve-primaer-hover: #2E7B92; 
  --baggrundsfarve-primaer-click: #01404F; 
  --sekundaer-brandfarve: #BF7C41;
}

/*Reset CSS*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header{
  position: sticky;
  width: 100%;
  color: var(--brand-tekstfarve-lys);
  background-color: var(--brandfarve-primaer);
}

#responsive-top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  height: 40px;
}

header menu{
  display: none;
}

header menu li{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-inline: auto;
  height: 40px;
}

header a{
  color: var(--brand-tekstfarve-lys);
}

@media screen and (min-width: 834px){
  header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
  }

  #responsive-top-nav button, header menu li:first-of-type{
    display: none;
  }

  header menu{
    display:flex;
  }

  header menu li{
    padding-inline: 16px;
    height: 80px;
  }
}