.section_hero .div_hero-container{
  position: relative;
  display: flex;
  height: 70vh;
  overflow-y: hidden;
}

.section_hero .div_hero-overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_hero h1{
  text-align: center;
  color: var(--brand-tekstfarve-lys);
  line-height: 1;
  font-weight: 400;
}

.section_hero .div_hero-content{
  position: absolute;
  inset: 0;
  display: flex;
  z-index: 1;
}

.section_hero .div_image-wrapper{
  width: 100%;
}

.section_hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px){
  .section_hero .div_image-wrapper:first-of-type,
  .section_hero .div_image-wrapper:last-of-type{
    display: none;
  }

  .section_hero .div_hero-container{
    height: 90vh;
  }
  .section_hero h1{
    font-size: var(--h3-size);
  }
}
