.section_kontakt .flexbox_kontakt{
  display: flex;
  max-width: 1024px;
  margin-inline: auto;
  gap: 8px;
}

.section_kontakt span.stjerne{
  color: var(--sekundaer-brandfarve)
}

.section_kontakt .flexbox_kontakt > *{
  width: 100%;
  padding: 16px;
  background-color: var(--baggrundsfarve-sekundaer);
  box-shadow: var(--modern-box-shadow);
}

.section_kontakt .container_kontakt-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 32px;
}

.section_kontakt address > div{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.section_kontakt address img{
  width: 48px
}

.section_kontakt .div_some{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 20px;
}

.section_kontakt .div_some img{
  width: 48px;
}

.section_kontakt form{
  width: 100%;
  padding: 16px;
}

.section_kontakt form input,
.section_kontakt form textarea{
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--brandfarve-primaer);
  background-color: var(--baggrundsfarve-primaer);
}

.section_kontakt fieldset{
  width: 100%;
  padding: 24px 32px;
  border-radius: 4px;
  border: 1px solid var(--brandfarve-primaer);
}

.section_kontakt #div_bekraeft-besked:popover-open{
  inset: 0;
  margin: auto;
  padding:40px;
  background-color: var(--baggrundsfarve-tertiaer);
  box-shadow: var(--modern-box-shadow);
  border-radius: 4px;
  border-color: var(--brandfarve-primaer);
}

.section_kontakt #div_bekraeft-besked::backdrop{
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px){
  .section_kontakt .flexbox_kontakt{
    display: flex;
    flex-direction: column;
    max-width: 400px; /*så den ikke bliver for bred i området lige efter breakpointet*/
    margin-inline: auto; /*centerer boxen*/
  }
}