.section_hero .div_hero-container{
  position: relative;
  display: flex;
  height: 50vh;
  overflow-y: hidden;
}

.section_hero .div_hero-overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_hero h1{
  text-align: center;
  color: var(--brand-tekstfarve-lys);
  line-height: 1;
  font-weight: 400;
}

.section_hero .div_hero-content{
  position: absolute;
  inset: 0;
  display: flex;
  z-index: 1;
}

.section_hero .div_image-wrapper{
  width: 100%;
  height: 100%;
}

.section_hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showreel video{
    width: 100%;
    max-width: 800px;
    padding-top: 50px;
}

.karriere {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
}

.showreel, .karriere h2 {
    text-align: center;
}

.punkt {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 20px;
    margin: 80px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.punkt.reversed {
    flex-direction: row-reverse;
}

.karriere-billede   {
    max-width: 450px;
    width: 100%;
}

.karriere-billede img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
}

.karriere-tekst {
    flex: 1;
    max-width: 450px;
    text-align: left;
}

.karriere-tekst h3 {
    margin-bottom: 15px;
}

.karriere-tekst,
.karriere-billede img {
    opacity: 0;
    transform: translateY(30px) scale(0.98);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.punkt.aktiv .karriere-billede img,
.punkt.aktiv .karriere-tekst {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.karriere-billede img {
    transition-delay: 0.2s;
}

.karriere-tekst {
    transition-delay: 0.6s;
}


/* Responsivt */
/* -------------------- STOR TABLET -------------------- */
@media (max-width: 1024px) {

    .section_hero {
        height: 50vh;
    }

    .showreel video {
        max-width: 600px;
    }
    
}

/* -------------------- LIDT MINDRE TABLET -------------------- */
@media (max-width: 900px) {
    .punkt,
    .punkt.reversed {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 50px 0;
    }

    .punkt .karriere-tekst,
    .punkt.reversed .karriere-tekst {
        order: 1;
        width: 100%;
        text-align: left;
    }

    .punkt .karriere-billede,
    .punkt.reversed .karriere-billede {
        order: 2;
        width: 100%;
    }
}

/* -------------------- MOBIL -------------------- */
@media (max-width: 480px) {

    .section_hero {
        height: 40vh;
    }

    .showreel video {
        max-width: 100%;
    }

    .karriere {
        padding: 20px 15px;
    }

    .punkt,
    .punkt.reversed {
        gap: 15px;
        margin: 40px 0;
    }
    
}




