.hero-statisk {
    position: relative; /* for at kunne placere h1 og overlay ovenpå billedet */
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero-statisk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.div_hero-overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-statisk h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

.tekst-billede-boks {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 5vh;
    padding: 0 30px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

.tekstboks {
    max-width: 350px;
    min-width: 250px;
}

.billedboks {
   max-width: 600px;
   min-width: 250px;
}

.billedboks img {
    width: 100%;
    height: auto;
}

.showreel {
    text-align: center;
    margin: 50px 0px;
}

.showreel video{
    width: 100%;
    max-width: 800px;
}

.karriere {
    max-width: 25%;
    margin: 0 auto;
    padding: 40px 20px;
}

.karriere h2 {
    text-align: center;
    margin-bottom: 40px;
}

.punkt {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding: 0 20px;
    max-width: 1000px;
    width: 100%;
    margin: 80px 0;
    position: relative;
    z-index: 1;
}

.punkt.reversed {
    flex-direction: row-reverse;
}


.karriere-billede img {
    width: 100%;
    min-width: 250px;
    height: 350px;
    object-fit: cover;
    display: block;
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.karriere-tekst {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.6s;
}

.karriere-tekst h3 {
    margin-bottom: 15px;
}

.karriere-tekst,
.karriere-billede {
    min-width: 300px;
    max-width: 400px;
    flex: 1;
}

.punkt.aktiv .karriere-billede img,
.punkt.aktiv .karriere-tekst {
    opacity: 1;
    transform: translateY(0) scale(1);
}
