:root {
  /*Farver*/
  --baggrundsfarve-primaer: #FDFCFC; 
  --baggrundsfarve-sekundaer: #FBF9F7; 
  --baggrundsfarve-tertiaer: #F4F0EA; 
  --tekstfarve-faded: #AEACAB; 
  --tekstfarve-primaer: #272626; 
  --brand-tekstfarve-lys: #F0F5F8;
  --brandfarve-primaer: #025B6F; 
  --brandfarve-primaer-hover: #2E7B92; 
  --baggrundsfarve-primaer-click: #01404F; 
  --sekundaer-brandfarve: #BF7C41;
/*Skygger*/
  --modern-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
  --inner-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.10) inset;
}

.section_pakker h3{
  text-align: center;
}

.pakker-container{
  display: flex;
  justify-content: center;
  gap: 12px 24px;
  flex-wrap: wrap;
}

.pakke{
  display: grid;
  border-left: 6px solid var(--sekundaer-brandfarve);
  border-radius: 8px;
  background-color: var(--baggrundsfarve-sekundaer);
  color: var(--tekstfarve-primaer);
  width: 264px;
  box-shadow: var(--modern-box-shadow);
  padding: 22px 18px;
}

.pakke p{
  font-family: var(--utopia);
}

.pakke ul{
  padding-inline-start: 24px;
  font-family: var(--utopia);
}

.pakke button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sekundaer-brandfarve);
  font-family: var(--utopia);
  font-size: 16px;
  color: var(--baggrundsfarve-primaer);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  border-radius: 0.25rem;
  box-shadow: var(--inner-box-shadow);
  transition: all 0.3s;
}

.pakke button.aktiv {
  background-color: transparent; 
  color: var(--sekundaer-brandfarve);
  box-shadow: none;
  padding-inline-start: 0;
}

.pakke button .kryds{
  position: relative;
  height: 12px;
  width: 12px;
}

.pakke button .kryds > span{
  position: absolute;
  inset: 0;
  margin: auto;
  height: 2px;
  width: 12px;
  background-color: var(--baggrundsfarve-primaer);
  border-radius: 1px;
  transition: all 0.3s;
}

.pakke button.aktiv .kryds > span{
  rotate:45deg; 
  background-color: var(--sekundaer-brandfarve);
}

.pakke button .kryds > span:first-child{
  transform: rotate(90deg);
}

.pakke .prisberegner{
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
}

.pakke button.aktiv + .prisberegner {
  height: 100%; 
}

.pakke label{
  font-size: 12px;

}.pris-input{
  display: flex;
  gap: 4px;
}

.pris-input > *{
  padding: 4px 4px;
}

.pris-output{
  padding: 8px 12px;
  border-bottom: 1px solid var(--sekundaer-brandfarve)
}