.vaerdier-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    width: 100%;
    max-width: 800px;
}

.vaerdi {
    text-align: center;
}

.vaerdi img {
    width: 80px;
    height: auto;
}

.tekst-billede-boks {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    margin-top: 5vh;
    padding: 0 30px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

.tekstboks {
    max-width: 400px;
}

.tekstboks h2 {
    margin-bottom: 10px;
}


.tekstboks p {
    margin-bottom: 40px;
}

.billedboks {
   max-width: 600px;
   width: 100%;
}

.billedboks img {
    width: 100%;
    max-width: 100%;
    max-height: 600px;
    height: auto;
    object-fit: contain;
    display: block;
}


/* ----------------- Breakpoint 800px (tablet) ----------------- */
@media (max-width: 800px) {
    .vaerdier-container {
    max-width: 90%;
    }

    .vaerdi img {
        width: 60px;
    }

     .tekst-billede-boks {
        gap: 40px;
        max-width: 90%;
        padding: 0 20px;
     }

    .tekstboks {
        width: 100%;
    }

    .billedboks {
        width: 100%;
    }
}

/* ----------------- Breakpoint 400 (mobil) ----------------- */
@media (max-width: 400px) {
    
    .vaerdier-container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        max-width: 100%;
        justify-content: center;
    }

    .vaerdi {
        flex: 0 0 auto; /* bevarer fast bredde */
        text-align: center;
    }

    .vaerdi img {
        width: 50px;
        height: auto;
    }
    
    .tekst-billede-boks {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        padding: 0 15px;
    }

    .tekstboks {
        max-width: 100%;
    }

    .billedboks {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .billedboks img {
        width: 100%;
        height: auto;
    }
}